#nav-bar {
  background-color:#00a087;
  height: 80px;
  padding: 0 2em 0 2em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  line-height: 80px;
}
#nav-bar .header {
  font-size: 2em;
  color: white;
  font-family: 'Roboto';
  float: left;
}
#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
} 
#nav-bar .compose {
  float: right;
  width: 81px;
  height: 47px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #cff1ec
}
#nav-bar .compose span {
  position: relative;
  top: -19px;
  color: #29c3ab;
}
#nav-bar button.compose:hover {
  /*float: right;*/
  background-color: red;
}